/*
 * EPHS red color: #d7282f
 */
body {
  background-color: whitesmoke;
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
}
h1 {
  text-align: center;
}
ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}
ul.header {
  background-color: #111;
  text-align: center;
  padding: 0;
  margin: 20px;
}
ul.header li a {
  color: white;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}
.content {
  background-color: white;
  border-color: #d7282f;
  border-style: solid;
  border-width: 0px;
  border-top-width: 5px;
  padding: 20px;
}
.content h2 {
  padding: 0;
  margin: 0;
  font-weight: bold;
}
.content li {
  margin-bottom: 10px;
}
.active {
  background-color: #d7282f;
}
.button {
  background-color: #d7282f;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
label {
  margin-right: 15px;
}
.question {
  background-color: whitesmoke;
  padding: 10px;
}
.card {
  text-transform: capitalize;
}
.search {
  margin-top: 50px;
  margin-bottom: 50px;
}
a:link {
  color: #d7282f;
}
a:hover {
  color: #75171b;
}
a:visited {
  color: #ce5f63;
}